* {
    text-align: center;
    background-color: seashell;
}

h1 {
    color: burlywood;
    font-style: italic;
    font-size: 10vmin;
    text-decoration: underline dotted .5vmin lightgray;
}

td {
    width: 100px;
    height: 100px;
}
table {
    margin: 5px auto;
}
td {
    width: 100px;
    height: 100px;
}
table {
    margin: 5px auto;
}
.vert {
    border-left: 10px dotted lightgray;
    border-right: 10px dotted lightgray;
}
.hori {
    border-top: 10px dotted lightgray;
    border-bottom: 10px dotted lightgray;
}

button {
    margin-top: 50px;
    font-weight: 1000;
    font-size: 2.5vmin;
    border-radius: 1vmin;
    background-color: rgb(243, 242, 242);
    border: solid lightgray;
    color: burlywood;
}